<div *ngFor="let pytania of pytania">
  <div *ngIf="increase == 1">
    <div *ngIf="pytania.id == 1">
      <p>{{ pytania.id }}</p>
      <button (click)="p1f()">6p</button>
      <p *ngIf="p1">{{ pytania.p1 }}</p>
      <button (click)="p2f()">5p</button>
      <p *ngIf="p2">{{ pytania.p2 }}</p>
      <button (click)="p3f()">4p</button>
      <p *ngIf="p3">{{ pytania.p3 }}</p>
      <button (click)="p4f()">3p</button>
      <p *ngIf="p4">{{ pytania.p4 }}</p>
      <button (click)="p5f()">2p</button>
      <p *ngIf="p5">{{ pytania.p5 }}</p>
      <button (click)="p6f()">1p</button>
      <p *ngIf="p6">{{ pytania.p6 }}</p>
      <button (click)="add()">Next</button>
    </div>
  </div>
  <div *ngIf="increase == 2">
    <div *ngIf="pytania.id == 2">
      <p>{{ pytania.id }}</p>
      <button (click)="p1f()">1</button>
      <p *ngIf="p1">{{ pytania.p1 }}</p>
      <button (click)="p2f()">2</button>
      <p *ngIf="p2">{{ pytania.p2 }}</p>
      <button (click)="p3f()">3</button>
      <p *ngIf="p3">{{ pytania.p3 }}</p>
      <button (click)="p4f()">4</button>
      <p *ngIf="p4">{{ pytania.p4 }}</p>
      <button (click)="p5f()">5</button>
      <p *ngIf="p5">{{ pytania.p5 }}</p>
      <button (click)="add()">Next</button>
    </div>
  </div>
  <div *ngIf="increase == 3">
    <div *ngIf="pytania.id == 3">
      <p>{{ pytania.id }}</p>
      <button (click)="p1f()">1</button>
      <p *ngIf="p1">{{ pytania.p1 }}</p>
      <button (click)="p2f()">2</button>
      <p *ngIf="p2">{{ pytania.p2 }}</p>
      <button (click)="p3f()">3</button>
      <p *ngIf="p3">{{ pytania.p3 }}</p>
      <button (click)="p4f()">4</button>
      <p *ngIf="p4">{{ pytania.p4 }}</p>
      <button (click)="p5f()">5</button>
      <p *ngIf="p5">{{ pytania.p5 }}</p>
      <button (click)="p6f()">6</button>
      <p *ngIf="p6">{{ pytania.p6 }}</p>
      <button (click)="p7f()">7</button>
      <p *ngIf="p7">{{ pytania.p7 }}</p>
      <button (click)="add()">Next</button>
    </div>
  </div>
</div>
